@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Basic */
body {
    background: #222833;
}

body, input, select, textarea {
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.75em;
}

pre {
    line-height: 1em;
}

figure {
    display: inline-block;
}

a {
    color: #3ac984;
    text-decoration: underline;
}

a.sourceLine {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p, ul, ol, dl, table, blockquote, pre, figure, .verification-container {
    margin: 0 0 2em;
}

ul, ol {
    padding: 0;
}

pre {
    background-color: #2e2e2e;
    color: #f8f8f2;
    padding: 1em;
    overflow-x: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 700;
    line-height: 1.75em;
    margin: 0;
}

#logo a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 0.5em #888888;
    font-style: italic;
    padding: 1em 0 0.5em 2em;
}

section.special, article.special {
    text-align: center;
}

header.major {
    margin-bottom: 1em;
}

header h2 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: 600;
}

header .byline {
    font-size: 1.6em;
}

footer > :last-child {
    margin-bottom: 0;
}

footer.major {
    padding-top: 3em;
}


/* Form */

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    appearance: none;
    background: none;
    border: solid 1px #888888;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0.75em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #3ac984;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    line-height: 1em;
}

::placeholder {
    color: inherit;
    opacity: 0.5;
}

/* Image */
.image {
    border: 0;
    position: relative;
}

.image.fit {
    display: block;
}

.image.fit img {
    display: block;
    width: 100%;
}

.image.feature {
    display: block;
    margin: 0 0 1em 0;
}

.image.feature img {
    display: block;
    width: 100%;
}

/* Icon */
.icon {
    position: relative;
}

.icon:before {
    content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* Lists */
ol.default {
    list-style: decimal;
    padding-left: 1.25em;
}

ol.default li {
    padding-left: 0.25em;
}

ul.default {
    list-style: none;
}

ul.default li {
    display: block;
    padding: 0.60em 0;
    border-top: 1px solid;
    border-color: rgba(192, 192, 192, 0.15);
}

ul.default > :first-child {
    padding-top: 0;
    border-top: none;
}

ul.icons {
    cursor: default;
}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;
}

ul.icons li:first-child {
    padding-left: 0;
}

ul.actions {
    cursor: default;
}

ul.actions:last-child {
    margin-bottom: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

ul.actions li:first-child {
    padding: 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1.5em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding: 0;
}

ul.contact li {
    padding: 1.05em 0;
    border-top: 1px solid;
    border-color: rgba(192, 192, 192, 0.15);
}

ul.contact li > span {
    display: inline-block;
}

ul.contact li .address, ul.contact li .mail, ul.contact li .phone {
    float: left;
    width: 100px;
    font-weight: 600;
}

ul.contact > :first-child {
    padding-top: 0;
    border-top: none;
}

ul.style li {
    clear: both;
    display: block;
    padding-top: 3em;
}

ul.style > :first-child {
    padding-top: 0;
}

ul.style h3 {
    display: block;
    margin: 0;
    padding-bottom: 0.50em;
    font-size: 1.1em;
    font-weight: 700;
    color: #404040;
}

ul.style .fa {
    float: left;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 1em;
    background: #3ac984;
    line-height: 80px;
    text-align: center;
    border-radius: 10px;
    font-size: 2em;
    color: white;
}

ul.list {
    list-style: none;
}

ul.list li {
    display: block;
    padding: 0.60em 0;
    border-top: 1px solid;
    border-color: red;
}

ul.list > :first-child {
    padding-top: 0;
    border-top: none;
}

/* Tables */
table {
    width: 100%;
}

table.default {
    width: 100%;
    border-collapse: collapse;
}

table.default tbody tr {
    border-bottom: solid 1px #888888;
}

table.default td {
    padding: 1em 1em 1em 1em;
}

table.default th {
    font-weight: 700;
    padding: 8px;
    text-align: left;
}

table.default tr:nth-child(even) {
    background-color: #dddddd;
}


table.default thead {
    background: #000000;
    color: #fff;
}


/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background: #3ac984;
    border-radius: 40px;
    border: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.80em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    min-width: 10em;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background-color: #32b777;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
    font-size: 0.8em;
}

/* Wrapper */
.wrapper.style1 {
    background: #fff;
}

.wrapper.style2 {
    background: #ececec;
    padding: 1em 0;
    text-align: center;
}

.wrapper.style3 {
    padding: 1em 0 2em 0;
    background: #ececec;
}

.wrapper.style3 span {
    display: inline-block;
    padding-top: 0.80em;
    font-size: 2em;
    font-weight: 600;
}

.wrapper.style3 .button {
    float: right;
}

/* Header */
#header {
    background: #7a5757 url("/images/Vercors_Original.jpg") no-repeat;
    background-size: cover;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    background-position: 0% 65%;
    position: relative;
}

#header > * {
    position: relative;
    z-index: 1;
}

#logo {
    font-size: 2em;
}

/* Banner */
#banner {
    text-align: center;
}

#banner .major h2 {
    font-size: 3.5em;
}

#banner .major .byline {
    display: block;
    margin: 0em 2em;
    line-height: 1.6em;
    font-size: 1.5em;
}

#banner a {
    color: inherit;
}

/* Main */
.no-sidebar #main .major, .left-sidebar #main .major, .right-sidebar #main .major {
    text-align: left;
}

#main {
    padding: 1em 0;
}

/* Footer */
#footer {
    padding: 2% 2%;
    color: #fff;
}

#footer .major h2 {
    font-size: 2em;
    color: #FFF;
}

#footer .major .byline {
    font-size: 1.1em;
}

#footer .copyright {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 2px solid;
    border-color: rgba(192, 192, 192, 0.15);
    text-align: justify;
    color: inherit;

}

#footer a {
    color: inherit;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}

.row > * {
    padding: 0 0 0 50px;
}

#hamburger {
    display: none;

    position: absolute;
    padding: 0 0.75em;
    left: 0;
    top: 0;
    line-height: 2.75em;
    cursor: pointer;
}

@media (min-width: 841px) {
    #nav {
        z-index: 100;
        margin: 2em 0;
        font-size: 16pt;
    }

    #nav a {
        color: white;
        text-decoration: none;
    }

    #nav > ul > li {
        display: inline-block;
        margin-left: 0.5em;
        position: relative;
    }

    #nav > ul > li > a {
        text-align: left;
        padding: 0.5em 1.5em;
    }

    #nav > ul > li:hover > a {
        background: #3ac984;
        border-radius: 10px 10px 0 0;
    }

    #nav > ul > li:hover > a + ul {
        display: block;
    }

    #nav > ul > li > ul {
        display: none;
        position: absolute;
        left: 0;
        top: 1.75em;
        width: 300px;

        background: #3ac984;
        border-radius: 0 10px 10px 10px;
        text-align: left;
    }

    #nav > ul > li > ul:hover {
        display: block;
    }

    #nav > ul > li > ul > li {
        display: block;
        padding: 0.5em 1.5em;
    }
}

@media (max-width: 1680px) {
    .container {
        width: 1200px;
    }

    .row > * {
        padding: 0 0 0 40px;
    }

    body, input, select, textarea {
        font-size: 12pt;
        line-height: 1.5em;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 960px;
    }

    /* Basic */
    header.major {
        margin-bottom: 0;
    }

    header h2 {
        font-size: 2.5em;
    }

    header .byline {
        font-size: 1.35em;
    }

    /* Wrapper */
    .wrapper.style3 {
        padding: 2em 0em 3.6em 0em;
    }

    .wrapper.style3 span {
        font-size: 1.6em;
    }

    .wrapper.style3 .button {
        padding: 1.3em 3em;
    }

    /* Banner */
    #banner {
        padding: 3em 0 0 0;
    }

    #banner .major h2 {
        font-size: 2.75em;
    }

    #banner .major .byline {
        font-size: 1.35em;
    }

    /* Footer */
    #footer .major h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 980px) {
    .container {
        width: 95%;
    }

    .row > * {
        padding: 0 0 0 30px;
    }
}

@media (max-width: 840px) {
    header.major {
        margin-bottom: 2em;
    }

    header h2 {
        line-height: 1.2em;
        font-size: 1.8em;
    }

    header .byline {
        padding-top: 0.50em;
        font-size: 1.1em;
    }

    /* Layers */
    #titleBar {
        background: #222833;
        height: 44px;
        line-height: 44px;
    }

    #titleBar .title {
        display: block;
        position: relative;
        font-weight: 700;
        text-align: center;
        font-size: 1.2em;
        color: #fff;
        z-index: 1;
    }

    #titleBar .toggle {
        height: 60px;
        left: 0;
        position: absolute;
        top: 0;
        width: 80px;
        z-index: 2;
    }

    #titleBar .toggle:before {
        content: "\f0c9";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    #titleBar .toggle:before {
        background: none;
        color: white;
        display: block;
        height: 44px;
        text-align: center;
        width: 44px;
    }

    #titleBar .toggle:after {
        background: url("images/toggle.svg") 0px 0px no-repeat;
        content: '';
        display: block;
        height: 13px;
        left: 10px;
        opacity: 0.75;
        position: absolute;
        top: 15px;
        width: 20px;
    }

    /* Wrapper */
    .wrapper.style2 {
        padding: 4em 0 3em 0;
    }

    .wrapper.style3 {
        text-align: center;
    }

    .wrapper.style3 span {
        display: block;
        padding-bottom: 1em;
        line-height: 1.6em;
        text-align: center;
        font-size: 1.4em;
    }

    .wrapper.style3 .button {
        float: none;
        padding: 1.1em 3em;
    }

    #header {
        padding-top: 0;
    }

    #hamburger {
        display: inline-block;
    }

    #logo {
        background-color: #333;
        margin: 0;
        font-size: 1.5em;
        padding: 0.5em;
    }

    #nav {
        max-height: 0;
        overflow: hidden;

        background-color: #222;
        text-align: left;
    }

    #nav.open {
        max-height: 100%;
    }

    #nav ul {
        margin: 0;
    }

    #nav > ul {
        padding: 1em;
    }

    #nav > ul > li {
        display: block;
    }

    #nav > ul > li > ul > li {
        display: block;
        padding-left: 2em;
    }

    /* Banner */
    #banner {
        margin-top: 1em;
        padding: 0;
    }

    /* Main */
    #main {
        padding: 4em 0;
    }

    /* Footer */
    #footer section {
        margin-bottom: 3em;
    }
}

@media (max-width: 640px){
    .container {
        width: 90%;
    }

    .row > * {
        padding: 0 0 0 15px;
    }

    /* Basic */
    body, input, select, textarea {
        font-size: 11pt;
    }

    .button {
        display: block;
        width: 100%;
        min-width: 0;
        padding: 0;
        font-size: 1.2em;
        line-height: 2.75em;
        height: 2.75em;
    }

    /* Banner */
    #banner {
        padding: 0;
    }

    #banner .major h2 {
        font-size: 2em;
    }

    #banner .major .byline {
        font-size: 1em;
        margin: 0;
    }
}

a.asc:after {
    content: ' (A-Z)';
}

a.desc:after {
    content: ' (Z-A)';
}

.sort-numerical a.asc:after {
    content: " (0-9)";
}

.sort-numerical a.desc:after {
    content: " (9-0)";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

table.detail-view th {
    width: 25%;
}

table.detail-view td {
    width: 75%;
}

table#t01 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fi
}

table#t01 tr {
    padding: 15px;
}

table#t01 th, table#t01 td {
    padding: 25px;
    text-align: center;
    width: 33%;
}

table#t01 th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

@media screen and (max-width: 840px) {

    table#t01 {
        border: 0;
    }

    table#t01 thead {
        display: none;
    }

    table#t01 tr {
        /* margin-bottom: 10px; */
        display: block;
        /* border-bottom: 22px solid #222233; */
    }

    table#t01 td {
        display: block;
        text-align: center;
        width: 100%;
        border-bottom: 2px dotted #ccc;
    }
}

.button + .button {
    margin-left: 16px;
}

@media (max-width: 840px) {
    .button + .button {
        margin-left: 0;
        margin-top: 16px;
    }
}

/* Showcases table */
ul.pagination {
    display: block;
}

ul.pagination li {
    display: inline;
}

/* Model editing icons */
.glyphicon-eye-open::after {
    content: 'View';
}

.glyphicon-pencil::after {
    content: 'Edit';
}

.glyphicon-trash::after {
    content: 'Delete';
}

/* Installation page tab controls */
.installation-tabs > label {
    font-size: 16pt;
}

.installation-tabs input[type="radio"] {
    display: none;
}

.installation-tabs input[type="radio"] + label {
    cursor: pointer;
    margin-right: 12px;
    padding: 0 4px;
}

.installation-tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #3ac984;
}

.installation-tab {
    margin-top: 3em;
    display: none;
}

input:checked#linux ~ input:checked#install ~ #install-linux { display: block; }
input:checked#mac ~ input:checked#install ~ #install-mac { display: block; }
input:checked#windows ~ input:checked#install ~ #install-windows { display: block; }
input:checked#linux ~ input:checked#build ~ #build-linux { display: block; }
input:checked#mac ~ input:checked#build ~ #build-mac { display: block; }
input:checked#windows ~ input:checked#build ~ #build-windows { display: block; }

/* Sponsor list */
.sponsor-list {
    list-style-type: none;
}

.sponsor-list li {
    display: inline-block;
    width: 50%;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1em;
    margin-bottom: 1em;
}

.sponsor-list li figure, .sponsor-list li p {
    margin: 0;
}

.code-buttons {
    z-index: 10;
    color: white;
    float: right;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24pt;
    cursor: pointer;
}

.code-buttons span + span {
    margin-left: 1ex;
}

.wiki-side-menu {
    width: 25%;
    vertical-align: top;
    position: sticky;
    top: 1em;
    float: right;
    max-height: calc(100vh - 2em);
    overflow-y: auto;
}

.wiki-side-menu ul {
    margin: 0;
}

.wiki-side-menu > ul > li {
    list-style: none;
}

.wiki-side-menu > ul > li > ul > li {
    list-style: none;
    padding-left: 4ex;
}

.wiki-side-menu-js a {
    text-decoration: none;
    padding-left: 0.5ex;
    transition: border-left-color .2s;
    border-left: 4px solid transparent;
}

.wiki-side-menu-js a.focus {
    border-left: 4px solid #3ac984;
}

.wiki-side-menu-js a + ul {
    display: none;
}

.wiki-side-menu-js a.focus + ul {
    display: block;
}

.fa-spinner {
    animation: rotation 1s infinite steps(8, end);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}