#title {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#abstract {
    width: 800px;
    max-width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
}

.blog-posts {
    max-height: 40rem;
    overflow-y: scroll;
    padding: 0 2rem;
    background: radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
    ) no-repeat scroll center bottom;
    background-size: 100% 40px;
}

/* Icon */
.card {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0.5rem;
}

.card h3 {
    margin-bottom: 0.5rem;
}

.card .icon {
    vertical-align: top;
    display: inline-block;
    margin-right: 1rem;
}

.card .icon .fa {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background-color: var(--primary);
    color: var(--text-light);
}

.card .card-content {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 7rem);
}